package templates

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Index</title>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<script src="https://unpkg.com/htmx.org@1.9.6"></script>
		</head>
		<body>
			<h1>Hello HyperMediaShop</h1>
			<button hx-post="/ping" hx-trigger="click">
				Click
			</button>
		</body>
	</html>
}

